@import "tailwindcss";

body{
    font-family: 'Manrope', sans-serif;
}


@theme {
    --color-primary: #5e3bee;
    --color-heading: #282938;
    --color-github: #e62872;
    --colo-darkblue: #1c1e53;
    --color-black: #000;
    --color-white: #fff;
}

